.linkRoute{
  text-decoration: none;
  color : var(--color-font-gray-high);
  cursor: pointer;
}
   
   /* Menu hamburguer */

.menu {
  background: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 1;
  box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
  transition: box-shadow 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
}

.hamburguer {
  position: relative;
  display: block;
  background: #000;
  width: 30px;
  height: 2px;
  top: 29px;
  left: 15px;
  z-index: 3;
  transition: 0.5s ease-in-out;
}

.hamburguer:before,
.hamburguer:after {
  background: #000;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.5s ease-in-out;
}

.hamburguer:before {
  top: -10px;
}

.hamburguer:after {
  bottom: -10px;
}

.inputHamburguer {
  display: none;
  z-index: 3;
}

.inputHamburguer:checked ~ label .menu {
  box-shadow: 0 0 0 250vh #fff, 0 0 0 250vh #fff;
}

.inputHamburguer:checked ~ label .hamburguer {
  transform: rotate(45deg);
}

.inputHamburguer:checked ~ label .hamburguer:before {
  transform: rotate(90deg);
  top: 0;
}

.inputHamburguer:checked ~ label .hamburguer:after {
  transform: rotate(90deg);
  bottom: 0;
}

.inputHamburguer:checked ~ .contextMenu{
  opacity: 1;
  display: flex;
}

/* context menu */

.contextMenu{
  position: fixed;
  top: 0;
  
  font-size: 45px;
  display: none;
  width: 100%;
  opacity: 0;
  transition: 0.25s 0.1s cubic-bezier(0, 1.07, 0, 1.02);
  z-index: 1;
}

.topBarContext{
  width: 100vw;
  height: 200px;
  display: flex;
  background: var(--color-top-bar-context);
}
.topBarContainer{
  display: flexbox;
  width: 100%;
}
.imageIconContext{
  margin-top: 30px;
  height: 100px;
}
.textUserName{
  font-size: 30px;
}
.conatinerContext{
  display: flexbox;
}

.contextOption{
  font-size: 25px;
  color: var(--color-font-option);
  padding: 10px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  border-top: 1px solid black;
  cursor: pointer;
}

.contextOption + .contextOption{
  border-bottom: 1px solid black;
  padding-bottom: 15px;
}
.contextOptionExit{
  font-size: 25px;
  color: var(--color-font-option-exit);
  padding: 10px;
  padding-bottom: 5px;
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-bottom: 15px;
  cursor: pointer;
}

/* Conteudo da pagina */
.contentContainerMain{
  display: flexbox;
  justify-content: center;
  align-items: center;
}

/* TOPBAR */
.topBarContent{
  width: 100vw;
  height: 55px;
  display: flex;
  align-items: center;
  background: #D2D9E0;
}
.logoFrashdeskTopBar{
  height: 50px;
  margin: 0 10px 0 10px;
  display: block;
  float: left;
  cursor: pointer;
}
.inputSearchTopBar{
  background-image: url('https://www.w3schools.com/howto/searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 10px 12px 40px;
  
  border-radius: 18px;
  width: 80vw;
  border: 1px solid #ccc;
  margin-top: 2px;
  font-size: 16px;
  outline: none;
  box-shadow: 0 0 0 0 #948585;
}
.inputSearchTopBar:focus{
  box-shadow: 0 0 2px 0 rgb(126, 126, 126);  
}
.inputSearchTopBar::placeholder{
  color: #beb5b5;
}
.containerNewTicket{
  display: none;
}
.iconeUsuario{
  display: none;
}





/* Tiket */
.ticketCard{
  background: #fff;
  display: flex;
  justify-content: center;
  height: 140px;
  margin: 10px 0 10px 0;
  border-radius: 18px;
  cursor: pointer;
}



.section1{
  display: flexbox;
  float: inline-start;
  width: 25vw;
}
.remainingTimeticket1{
  font-size: 10px;
  padding-left: 10px;
  margin-top: 5px;
  width: 300px;
  text-align: left;
}
.remainingTimeticket2{
  display: none;
}
.userNameTicket{

}
.containerImageTicket{
  width: 100%;
  justify-content: center;
  margin-top: 5px;
  display: flex;
}
.containerImageTicket img{
  height: 60px;
}
.tagsContainer{
  width: 200px;
  margin: 8px 0 0 20px;
  overflow: hidden;
  display: flex;
}
.tagsContainer .tagTicket{
  width: auto;
  font-size: 13px;
}



.section2{
  display: flex;
  float:inline-start;
  align-items:center;
  justify-content: center;
  width: 45vw;
}
.section2 text{
  text-align: justify;
}

.section3{
  display: flex;
  float: inline-end;
  align-items: center;
  justify-content: center;
  width: 25vw;
  
}
.containerSection{
  display: block;
  float: right;
}
.priorityTicket{
  display: flex;
  margin-right: 0;
}
.priorityTicket text{
  margin-bottom: 3px;
}
.iconePrioridade{
  display: block;
  width: 20px;
  margin-left: 10px;
  border-radius: 50%;
}

.lowPriority{
  background: var(--color-priority-low);
}
.mediumPriority{
  background: var(--color-priority-medium);
}
.highPriority{
  background: var(--color-priority-high);
}
.urgentPriority{
  background: var(--color-priority-urgent);
}
.sectionDivider{
  height: 65px;
}
.statusTicket{
  background: #F6F4F4;
  border: 1px solid #7D7878;
  border-radius: 10px;
  padding: 3px 0 5px 0;
  display: block;
  float: inline-end;
}

.searchResults{
  margin-bottom: 20px;
}

.compSkelethon{
  display: block;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 100%;
  border-radius: 20px
}
.contextMainDesktop{
  display: none;
}

/* adaptando Layout para Desktop */
@media(min-width: 1000px){
  .menu{
    display: none;
  }
  .hamburguer{
    display: none;
  }
  .contentContainerMain{
    min-width: 80vw;
  }
  .formContainerInput{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .inputSearchTopBar{
    width: 50vw;
  }
  .containerNewTicket{
    display: block;
    padding-left: 20px;
  }
  .buttonNewTicket{
    text-decoration: none;
    padding: 12px 12px 12px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #25C16F;
    border: none;
    color: white;
    outline: none;
    transition: .3s;
    border-radius: 10px;
    cursor: pointer;
  }
  .buttonNewTicket:hover{
    background: #22a15d;
  }
  .buttonNewTicket .iconNewTicket{
    margin-right: 5px;
  }
  
  
  .ticketsResult{
    margin-top: 60px;
    display: flex;
    max-width: 100%;
    justify-content: center;
    
  }
  .searchFilters{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    border: 1px solid green;

  }
  .tituloFiltros{
    display: flex;
    width: 80%;
    justify-content: center;
    height: 30px;
    border-bottom: 1px solid #080808;
  }
  
  .ticketCard{
    width: 65vw;
  }
  .section1{
    width: 10vw;
  }
  .containerRequesterInformations{
    display: flex;
    margin: 20px 0 0 15px;
    padding-left: 10px;
    align-items: center;
  }
  .containerRequesterInformations .userNameTicket{
    margin-left: 5px;
  }
  .remainingTimeticket1{
    display: none;
  }

  .tagsContainer{
    width:600px;
    margin: 20px 0 0 20px;
  }

  .tagsContainer .tagTicket{
    background: #3388FF;
    text-align: justify;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    width:auto;
    border-radius: 20px;
    padding: 5px 10px 7px 5px;
    margin-left: 8px;
  }
  .section2{
    padding: 20px 0 0 30px;
    align-items:initial;
    
  }
  .remainingTimeticket2{
    font-size: 11px;
    display: block;
    padding-left: 10px;
    margin-top: 5px;
    width: 300px;
    text-align: left;
  }
  .statusTicket{
    width: 90px;
  }
  .section3{
    display: flex;
    align-content: flex-end;
  }
  .priorityTicket{
    padding-right: 10px;
    justify-content: flex-end;
    padding-right: 30px;
  }
  .iconePrioridade{
    float: right;
  }
  .sectionDivider{
    height: 30px;
  }
  .containerStatus{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }

  .compSkelethon{
    width: 65vw;
  }

  /* TOPBAR */
  .iconeUsuarioBox{
    margin-right: 10px;
  }
  .iconeUsuario{
    display: flex;
    align-items: center;
    background: cornsilk;
    padding: 5px;
    margin-left: 10px;
    border-radius: 12px;
    box-shadow: 0 0 2px 0 #948585;
    cursor: pointer;
  }
  .iconeUsuario:hover{
    box-shadow: 0 0 4px 0 #948585;
  }
  .iconeUsuario img{
    height: 30px;
    margin-right: 3px;
  }
  .contextMainDesktop{
    background: #ffffff;
    box-shadow: 0 2px 1px 0 #948585;
    padding: 5px;
    position: fixed;
    top: 48px;
    right: 20px;
    z-index: 3;
    border-radius: 7px;
  }
  .contextMainDesktop:hover{
    display: block;
  }
  .iconeUsuarioBox:hover + .contextMainDesktop{
    display: block;
  }
  .contextMainDesktop ul{
    list-style: none;
  }
  .contextMainDesktop ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    cursor: pointer;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

  }
  .contextMainDesktop ul li:hover{
    background: #d6cccc;
  }
  .contextMainDesktop ul li + li{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: 1px solid #7D7878;
    color: #ac1616;
  }

 
}
