.formcontainer{

}
.formNewTicket{
    display: flexbox;
    padding: 8px 10px 0 10px;
    text-align: left;
}
.tituloNewticket{
    font-size: 21px;
    border-bottom: .7px solid #bbbbbb;
    margin: 0 10px 0 10px;
}
.inputDescription{
    margin: 20px 0 10px 0;
    font-size: 15spx;
}
.formInput{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    padding: 9px;
    font-size: 17px;
}
.formSelect{
    background: white;
}
.formSelect option{
    font-size: 12px;
    width: 50px;
}
.checkboxForm{
    display: flex;
    align-items: center;
    padding: 10px 0 0 0;
    font-size: 16px;
}
.checkboxForm input{
    margin: 0 10px 0 4px;
    height: 30px;
    width: 25px;
}

/* descrição text editor */

.editorClassName{
    background: white;
    margin-top: -5px;
    padding: 0 7px 0 7px;
    max-width: 100%;
    overflow: scroll;
    z-index: 0;
}

/* submit */
.submitContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 70px 0;
}
.submitSalvar{
    width: 100px;
    border: none;
    background: rgb(21, 204, 143);
    color: white;
    font-size: 17px;
    padding: 10px 0 10px 0;
    border-radius: 7px;
    margin-right: 15px;
    outline: none;
    cursor: pointer;
}
.submitCancelar{
    width: 100px;
    border: none;
    background: rgb(233, 106, 106);
    color: white;
    font-size: 17px;
    padding: 10px 0 10px 0;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
}
.toolbarClassName{
    z-index: 0;
}
.tokenInput input{    
    padding-left: 10px;
    width: 100%;    
    border: none;
    outline: none;   
}
.tokenInput{
    background: white;
}
/* MODAL */
.modalDialog{
    position: absolute;
    width: 400px;
    outline: none;
    background: #f6f8f4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}
.modalBox{
    text-align: center;
    display: flexbox;
}
.modalTitle{
    color: #6e6c6c;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #6e6c6c;
}
.modalbuttonBox{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.modalbuttonBox button{
    width: 100px;
    height: 30px;
    border: none;
    background: #c3ee8b;
}
.modalbuttonBox button:hover{
    background: #ade465;
}


/* Media port para desktop*/
@media(min-width: 1000px){
    .formContent{
        margin-top: 50px;
    }
    .formcontainer{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
    }
    .formNewTicket{
        width: 70%;
        background: white;
        box-shadow: 0 0 5px 0 #bbb4b4;
        border-radius: 12px;
    }
    .formInput{
        background: #f3f0f0;
        margin-top: 10px;
        box-shadow: 0 0 1px 0 #535151;
        border-radius: 5px;
        height: 35px;
    }
    .formInput:focus{
        box-shadow: 0 0 3px 0 #535151;
    }
    .inputDescription{
        margin: 10px 0 10px 0;
        font-size: 15spx;
    }
    .editorClassName{
        border: 1px solid #e7e0e0;
    }
    .formSelect option{
        font-size: 17px;
        width: 50px;
        padding: 5px 0 0 5px;
    }
    .topBarContent{
        position: fixed;
        z-index: 1;
        
        top: 0;
        left: 0;
        width: 100%;
    }
}

